page-AuswahlStufe {
  $redcolor: #AB2524;

  .content {
    background-color: white;
    color: $redcolor;
    font-size: 24px;
  }
  .content:focus {

  }

  #1 {
    margin-top: 20px;
  }

  #aktFF {
    font-size: 16px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    margin-left: 10px;
  }


  input[type=button] {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 25px;
    display: inline-block;
    border: 3px solid;
    border-radius: 5px;
    border-color: $redcolor;
    color: black;
    background-color: white;
    width: 100%
  }

  input[type="button"]:focus {
    background-color: $redcolor;
    border-color: $redcolor;
  }

  #back {
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
    position: absolute;
    line-height: 1.7em;
    padding-left: 35px;
    padding-right: 1em;
    background: $redcolor;
    color: white;
    width: 130px;

    &:after {
      // triangle hover color
      border-left: 20px solid $redcolor;
    }
  }

  #back:after {
    // the triangle
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-left: -20px;
    left: 0;
    transform: rotate(180deg);
  }

  #weiter {
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    position: absolute;
    line-height: 1.7em;
    padding-left: 1em;
    padding-right: 35px;
    background: $redcolor;
    color: white;
    width: 130px;

    &:after {
      // triangle hover color
      border-left: 20px solid $redcolor;
    }
  }

  #weiter:after {
    // the triangle
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -20px;
    right: 0;
  }
}
