page-EingabeFF {
  $redcolor: #FC0A1C;

  .content {
    background-color: white;
    color: $redcolor;
    font-size: 24px;
  }

  .auswahlFF {
    background-color: white;
    color: $redcolor;
    font-size: 24px;
  }

  .buttonweiter {
    bottom: 0;
    position: absolute;
    right: 0;
    background-color: $redcolor;
  }

  .labels {
    font-size: 16px;
    text-align: left;
    position: relative;
    bottom: 0;
    margin-left: 10px;
    font-weight: bold;
    color: $redcolor;
  }

  .ionicbtnweiter {
    zoom: 1.5;
    color: white;
  }

  select {
    cursor: pointer;
    color: black;
    overflow: hidden;
    margin: auto;
    width: 100%;
    border: 2px solid;
  }
}
