<ion-content class="content" padding>
  <div text-center class="auswahlFF">
    Auswahl deiner Feuerwehr
  </div><br />

  Bezirk<br>
  <ion-item id="Bezirkitem">
    <ion-label>Bezirksauswahl</ion-label>
    <ion-select [(ngModel)]="currbezirk" (ngModelChange)="onchangeFF()">
      <ng-container *ngFor="let item of bezirke">
        <ion-option [value]="item">{{item}}</ion-option>
      </ng-container>
    </ion-select>
  </ion-item>

  Feuerwehr<br />
  <ion-item id="FFitem">
    <ion-label>Feuerwehrauswahl</ion-label>
    <ion-select [(ngModel)]="currfeuerwehr">
      <ng-container *ngFor="let itemFF of FFbezirk">
        <ion-option [value]="itemFF">{{itemFF}}</ion-option>
      </ng-container>
    </ion-select>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col no-padding>
        <div class="labels">
          <label id="versionsnummer">v. 1.0</label><br />
          <label id="impressum">link</label><br />
        </div>
      </ion-col>
      <ion-col no-padding>
        <button class="buttonweiter" style="width:50%;" no-margin large ion-button icon-only (tap)="weiterbtn()">
          <ion-icon class="ionicbtnweiter" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>