<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-row>
        <ion-col no-padding>
          <button (tap)="abbruchbtn()" id="abbrechen" no-margin ion-button color="danger">Abbrechen</button>
        </ion-col>
        <ion-col end no-padding>
        </ion-col>
      </ion-row>
    </ion-buttons>
    <ion-buttons right>
      <ion-row>
        <ion-col no-padding>
          <button (tap)="zusatzinfobutton()" no-margin ion-button color="danger">? - Info</button>
        </ion-col>
        <ion-col end no-padding>
        </ion-col>
      </ion-row>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" padding>
  <ion-title style="padding-top:0.3em; padding-left:0.3em;">Frage</ion-title>
  <ion-card class="ion-cardFrage">
    <ion-card-content text-wrap>
      {{Fragetext}}
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-cardsingletext" [hidden]="!hidetext">
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="InputText" placeholder="Eingabe" clearInput></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!--<ion-card text-wrap class="ion-cardradio" [hidden]="!hideradio">
    <ion-card-content>
      <ion-list radio-group [(ngModel)]="radiobuttonAntwort">
        <ion-item class="listitem" *ngFor="let antwort of RadiobuttonAntworten;let i=index">
          <ion-label style="opacity: 1 !important;">{{antwort}}</ion-label>
          <ion-radio  [(ngModel)]="InputRadioButtonChecked[i]" value="antwort"></ion-radio>  [checked]="radioboolarray[i]" 
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>-->

  <ion-card text-wrap class="ion-cardcheckbox" [hidden]="!hidecheckbox">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let antwort of CheckboxAntworten;let i=index">
          <ion-label style="opacity: 1 !important;">{{antwort}}</ion-label>
          <ion-checkbox [(ngModel)]="InputCheckboxChecked[i]"></ion-checkbox>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card text-wrap class="ion-cardSlider" [hidden]="!hideslider">
    <ion-card-content>
      {{slidertext}}
      <ion-item>
        <ion-range style="opacity: 1 !important;" [step]=sprungweite [min]=min [max]=max [(ngModel)]="InputSliderValue" color="danger">
          <ion-label range-left>{{min}}</ion-label>
          <ion-label range-right>{{max}}</ion-label>
        </ion-range>
        <ion-label>{{InputSliderValue}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-carddate" [hidden]="!hidedate">
    <ion-card-content>
      <ion-item style="opacity: 1 !important;">
        <ion-label style="opacity: 1 !important;">Datum</ion-label>
        <ion-datetime style="opacity: 1 !important;" displayFormat="DD.MM.YYYY" doneText="Ok" cancelText="Abbrechen" [(ngModel)]="InputDate"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!--CARD checkbox Bilder-->
  <ion-card class="ion-cardsingletext" [hidden]="!hidecheckboxbilder">
    <ion-card-content>
      <ion-list *ngFor="let img of CheckboxAntworten;let i=index" style="opacity: 1 !important;" >
        <ion-item>
          <img [src]="img" [hidden]="!img" />
          <ion-checkbox [(ngModel)]="ImgArray[i]"></ion-checkbox>
        </ion-item>

        <!--<ion-item>
          <img [src]="Img2" [hidden]="!Img2" />
          <ion-checkbox [(ngModel)]="checkbox2"></ion-checkbox>
        </ion-item>

        <ion-item [hidden]="!hidecheckbox3">
          <img [src]="Img3" [hidden]="!Img3" />
          <ion-checkbox [(ngModel)]="checkbox3"></ion-checkbox>
        </ion-item>

        <ion-item [hidden]="!hidecheckbox4">
          <img [src]="Img4" [hidden]="!Img4" />
          <ion-checkbox [(ngModel)]="checkbox4"></ion-checkbox>
        </ion-item>-->
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--Radio button bilder card-->
  <ion-card class="ion-cardradio" [hidden]="!hideradiobilder">
    <ion-card-content>
      <ion-list *ngFor="let img of RadiobuttonAntworten;let i=index" radio-group [(ngModel)]="radiobuttonAntwort">
        <ion-item class="listitem">
          <img [src]="img" [hidden]="!img" />
          <ion-radio value="ImgArray[i]"></ion-radio>
        </ion-item>
        <!--<ion-item class="listitem">
          <img [src]="Img2" [hidden]="!Img2" />
          <ion-radio value="Antwort2"></ion-radio>
        </ion-item>
        <ion-item class="listitem">
          <img [src]="Img3" [hidden]="!Img3" />
          <ion-radio value="Antwort3"></ion-radio>
        </ion-item>
        <ion-item no-lines>
          <img [src]="Img4" [hidden]="!Img4" />
          <ion-radio value="Antwort4"></ion-radio>
        </ion-item>-->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <label style="color: #FC0A1C;" id="infos">{{stufeoutput}}, {{aktstation}}</label>
  <label style="color: #FC0A1C;" id="infos">Frage {{fragenr}} von {{anzahlStationen}}</label>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col no-padding>
        <button (tap)="lastbtn()" no-margin ion-button full large color="primary" style="font-size: 1.6rem">Letzte Frage</button>
      </ion-col>
      <ion-col no-padding>
        <button (tap)="nextbtn()" no-margin ion-button full large color="ffred" style="font-size: 1.6rem"> Nächste Frage</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
