page-uebungsmodus {
  $redcolor: #FC0A1C;

  .content {
    background-color: white;
    //color: $redcolor;
    font-size: 24px;
  }

  #infos {
    font-size: 16px;
    text-align: left;
    position: relative;
    left: 0;
    bottom: 0;
    margin-left: 10px;
    display: block;
  }

  .ion-cardFrage, .ion-cardAntwort {
    position: relative;
    text-align: center;
  }

  .ion-card2 {
    margin-top: 0%;
  }

  .listitem {
    border-bottom: 1px solid green;
  }


  ion-checkbox [disabled] {
    background-color: #ffffff !important;
  }
}
