page-AuswahlStation {

  $redcolor: #FC0A1C;

  .content {
    background-color: white;
    color: $redcolor;
    font-size: 24px;
  }

  .ionicbtnweiter {
    zoom: 1.5;
    color: white;
  }

  .buttonweiter {
    bottom: 0;
    position: absolute;
    right: 0;
    background-color: $redcolor;
  }

  .ionicbtnzurück {
    zoom: 1.5;
    color: white;
  }

  .buttonzurück {
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: $redcolor;
  }

  #aktFF {
    font-size: 16px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #stationsitem {
    margin-bottom: 20px;
  }

  .auswahlStation {
    margin-bottom: 30px;
  }
}
