page-AuswahlStation {
  .content {
    background-color: white;
    color: red;
    font-size: 24px;
  }

  #aktFF {
    font-size: 16px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #back {
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
    position: absolute;
    line-height: 1.7em;
    padding-left: 35px;
    padding-right: 1em;
    background: #DF3A01;
    color: white;
    width: 130px;

    &:after {
      // triangle hover color
      border-left: 20px solid #DF3A01;
    }
  }

  #back:after {
    // the triangle
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-left: -20px;
    left: 0;
    transform: rotate(180deg);
  }

  #weiter {
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    position: absolute;
    line-height: 1.7em;
    padding-left: 1em;
    padding-right: 35px;
    background: #DF3A01;
    color: white;
    width: 130px;

    &:after {
      // triangle hover color
      border-left: 20px solid #DF3A01;
    }
  }

  #weiter:after {
    // the triangle
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -20px;
    right: 0;
  }

  .list .item-radio .item-content {
    background-color: black;
    color: white;
  }

  .list .item-radio .radio-icon {
    background-color: black;
    color: white;
  }

  .item-radio input:checked + .radio-content .item-content {
    background: black
  }

  .alert-radio-label {
    white-space: normal !important;
  }

  #stationsitem {
    margin-bottom: 20px;
  }

  .auswahlStation{
    margin-bottom:30px;
  }
}
